In [4]:
import pandas as pd

In [5]:
import sys

In [6]:
sys.version

'3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]'

In [7]:
pd.__version__

'0.25.1'

In [8]:
#creating empty series
S=pd.Series(1)
S

0    1
dtype: int64

In [9]:

import numpy as np

In [10]:
a_array=np.arange(10,90,10)

In [11]:
a_array

array([10, 20, 30, 40, 50, 60, 70, 80])

In [12]:
a_series=pd.Series(a_array)

In [13]:
a_series

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int32

In [14]:
a_series.shape

(8,)

In [15]:
a_series.size

8

In [16]:
list(a_series.index)

[0, 1, 2, 3, 4, 5, 6, 7]

In [17]:
a_series.index=["a","b","c","d","e","f","g","h"]

In [18]:
a_series

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int32

In [19]:
type(a_series)

pandas.core.series.Series

In [20]:
a_series[a_series>30]

d    40
e    50
f    60
g    70
h    80
dtype: int32

In [21]:
a_series[a_series<40]

a    10
b    20
c    30
dtype: int32

In [22]:
def a_func(x):
    x=x+10
    return x

In [23]:
for i in [10,20,30]:
    print(a_func(i))

20
30
40

In [24]:
a_lambda=lambda x:x+10

In [25]:
a_series.apply(a_lambda)

a    20
b    30
c    40
d    50
e    60
f    70
g    80
h    90
dtype: int64

In [26]:
a_series=a_series.append(pd.Series([90,np.NaN,np.nan,120]))
a_series

a     10.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
1      NaN
2      NaN
3    120.0
dtype: float64

In [27]:
a_series.isna()

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
0    False
1     True
2     True
3    False
dtype: bool

In [28]:
a_series.isna().sum()

2

In [29]:
a_series.fillna(4)

a     10.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
1      4.0
2      4.0
3    120.0
dtype: float64

In [30]:
a_series.dropna()

a     10.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

In [31]:
#for duplicate remove
a_series.drop_duplicates().dropna()

a     10.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
0     90.0
3    120.0
dtype: float64

In [32]:
#for typecaste
a_series.dropna().astype(int)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
0     90
3    120
dtype: int32

In [33]:
a_series.min()

10.0

In [34]:
a_series.max()

120.0

In [35]:
a_series.argmax()

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

3

In [36]:
a_series.argmin()

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

'a'

In [37]:
a_series.sort_values().reset_index(drop=True)

0      10.0
1      20.0
2      30.0
3      40.0
4      50.0
5      60.0
6      70.0
7      80.0
8      90.0
9     120.0
10      NaN
11      NaN
dtype: float64

In [38]:
s1=pd.Series([1,2,3,4],index=['usa','germany','ussr','japan'])
s1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [39]:
s2=pd.Series([1,2,5,4],index=['usa','germany','china','cuba'])
s2

usa        1
germany    2
china      5
cuba       4
dtype: int64

In [40]:
d=s1+s2
d

china      NaN
cuba       NaN
germany    4.0
japan      NaN
usa        2.0
ussr       NaN
dtype: float64

In [41]:
d.std()

1.4142135623730951

In [42]:
d.var()

2.0

In [43]:
d.min

<bound method Series.min of china      NaN
cuba       NaN
germany    4.0
japan      NaN
usa        2.0
ussr       NaN
dtype: float64>

In [44]:
d.argmin()

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

'usa'

In [45]:
d.index

Index(['china', 'cuba', 'germany', 'japan', 'usa', 'ussr'], dtype='object')

In [47]:
d.fillna(3)

china      3.0
cuba       3.0
germany    4.0
japan      3.0
usa        2.0
ussr       3.0
dtype: float64

In [49]:
d.values.argmin()

0